*{
    font-family: 'DynaPuff', cursive;
}

body{
    margin: 0;
    height: 100vh;
}

h1{
    font-size: 2rem;
}

h4{
    font-size: 1rem;
}

label{
    width: auto;
}

.library-header{
    text-align: left;
    padding: 10px;
    background-color: white;
    padding-left: 300px;
}

.main-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 300px;
    gap: 25px;
    background-color: whitesmoke;
    height:100%;
}

.form-btn{
    display: flex;
    justify-content: center;
}

.add-book-btn{
    border: none;
}

.book-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:auto;
    gap: 25px;
    padding: 15px;
    /* border: 1px solid black; */
}

.book-cont{
    color: purple;
    border: 1px solid pink;
    /* height: 150px;
    width: 150px; */
    text-align: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
}


.footer{
    position: absolute;
    /* bottom: 0; */

    /* justify-content: center;
    align-items: center; */
    text-align: center;
    background-color: lightblue;
    width: 100%;
}

.form-cont{
    display: none;
    position: absolute;
    /* width: 300px;
    height: 300px; */
    width: auto;
    top: 200px;
    left: 700px;
    /* right: 400px; */
    /* background-color: rgba(0, 0, 0, 0.7); */
    
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    /* border: 1px solid black; */
    /* opacity: 1 !important; */
    background-color: white;
    width: 300px;
    box-sizing: border-box;
    border-radius: 20px;
}

.read-status{
    display: flex;
    align-items: center;
    width: 100%;
} 

.radio-btn{
    height: 20px;
    width: 20px;
}

input {
    display: inline;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

label {
    /* display: inline; */
    width: 100%;
}

