
h4{
    font-size: 1rem;
}

.library-header{
    text-align: center;
    padding: 10px;
    background-color: bisque;
}

.form-cont{
    display: inline;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 200px;
    left: 600px;
    right: 400px;
    background-color: rgba(0, 0, 0, 0.7);
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    border: 1px solid black;
    opacity: 1 !important;
    background-color: wheat;
}

input {
    display: inline;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

label {
    /* display: inline; */
    width: 100%;
}