*{
    font-family: 'DynaPuff', cursive;
}

body{
    margin: 0;
    height: 100vh;
}

h1{
    font-size: 2.25rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

input,label{
    font-size: 1.5rem;
}
/* label{
    width: auto;
} */

.library-header{
    display: flex;
/*     text-align: left; */
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    padding-left: 300px;
    gap: 15px;
}


.libraryModal{
    background-color: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 300px;
    gap: 15px;
}

.main-cont{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2vh 150px;
    gap: 25px;
    background-color: white;
    height:100%;
}



.form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.add-book-btn{
    border: none;
    font-size: 1.5rem;
    background-color: whitesmoke;
}

.add-book-btn2{
    border: none;
    font-size: 1.5rem;
    background-color: white;
}

.removeBtn{
    border: none;
    font-size: 1.5rem;
    background: none;
    color: purple;
    font-family: 'DynaPuff', cursive;
  
}


.book-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:auto;
    gap: 25px;
    padding: 15px;
    /* border: 1px solid black; */
}

.book-cont{
    display: flex;
    flex-direction: column;
    color: purple;
    border: 1px solid pink;
    /* height: 150px;
    width: 150px; */
    text-align: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    padding: 25px;
    gap: 25px;
}


.bookModalClass{
    color: rgba(0,0,0,0.1);
    border: rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
    width: auto;
    height: auto;
  padding: 25px;
    gap: 25px;
}

.book-cont h3{
    margin-top: 0;
    margin-bottom: 0;
}



.form-cont{
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    top: 15vh;
    left: 40vw;
}



.form-box{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: white;
    width: 450px;
    box-sizing: border-box;
    border-radius: 20px;
}

.read-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} 

.radio-btn{
    height: 20px;
    width: 20px;
}

.inputBox{
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.checkbox{
  display: none;
}

.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius:20px;
  background-color:lightgray;
}

.switch::after{
  position: absolute;
  content:"";
  width:19px;
  height:19px;
  background-color:white;
  border-radius:50%;
  top:1px;
  left:1px;
}
.checkbox:checked + .switch{
  background-color: green;
}

.checkbox:checked + .switch::after{
  background-color: white;
  left: 20px;
}






@media screen and (max-width:900px){
    .library-header{
        padding-left: 4vh;
    }

    .form-cont{
        
        /* width: 300px;
        height: 300px; */

        top: 10vh;
        left: 25vw;
        /* right: 400px; */
        /* background-color: rgba(0, 0, 0, 0.7); */
    }
    .main-cont{
        padding: 2vh 10vw;
    }
}


.footer{
    position: relative;
    bottom: 0;
    height: 1.5rem;
    text-align: center;
    width: 100%;
}
